$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

// 태블릿 레이아웃
@mixin tablet {
  @media (min-width:$breakpoint-tablet) {
    @content;
  }
}

// 데스크탑 레이아웃
@mixin desktop {
  @media (min-width:$breakpoint-desktop) {
    @content;
  }
}

// 텍스트 말줄임 처리
@mixin line-clamp($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}